.form {
  display: flex;
  flex-direction: column;
  > * {
    margin-bottom: $m-size;
  }
}

.form__error{
  background: fade-out($danger, .35);
  margin: 0 0 $m-size 0;
  text-align: center;
  padding: 0 $s-size;
  color: white;
  font-style: italic;
  border-radius: 25px;
  border: 1px solid $danger;
}